@media(max-width: 510px){
    .titulo-pagina{
        font-size: 35px;
    }

    .titulo-tabela{
        font-size: 30px;
    }

    .tabela{
        font-size: 25px;
    }
}

@media(max-width: 450px){
    .titulo-pagina{
        font-size: 30px;
    }

    .titulo-tabela{
        font-size: 25px;
        margin-top: 70px;
    }

    .tabela{
        font-size: 20px;
    }
}

@media(max-width: 360px){
    .titulo-tabela{
        margin-top: 20px;
    }
}