html{
    font-size: 62.5%
}
body{
    text-align: center;
}

.titulo-pagina{
    font-size: 4.2rem;
    margin: 5rem;
    padding: 1rem;
    background-color: #bdbdbd56;
}

.titulo-tabela{
    font-size: 3.2rem;
    margin-top: 8rem;
    margin-bottom: 1.5rem;
}

.tabela{
    padding: 1.5rem;
    font-size: 3.2rem;
    margin: auto;
}

.tabela .cabecalho.moda{
    background-color: #BB86FC;
}

.tabela .cabecalho.casa{
    background-color: #00C4B4;
}

.linha-tabela{
    background-color: #424250;
    color: #ffffff;
}

.tabela .cabecalho th{
    padding: 2rem;
}

.tabela .linha-tabela td{
    padding: 1.5rem;
}
