html{
    font-size: 62.5%
}
body{
    text-align: center;
}

.title-page{
    font-size: 4.2rem;
    margin: 5rem;
    padding: 1rem;
    background-color: #bdbdbd56;
}

.title-table{
    font-size: 3.2rem;
    margin-top: 8rem;
    margin-bottom: 1.5rem;
}

.table{
    padding: 1.5rem;
    font-size: 3.2rem;
    margin: auto;
}

.table .header.fashion{
    background-color: #BB86FC;
}

.table .header.house{
    background-color: #00C4B4;
}

.table-row{
    background-color: #424250;
    color: #ffffff;
}

.table .header th{
    padding: 2rem;
}

.table .table-row td{
    padding: 1.5rem;
}
