body{
    text-align: center;
}
h1{
    font-size: 42px;
    margin: 50px;
    padding: 10px;
    background-color: #bdbdbd56;
}
h2{
    font-size: 32px;
    margin-top: 80px;
    margin-bottom: 15px;
}
th{
    padding: 15px;
}
td{
    padding: 15px;
}
.cabecalho-moda{
    background-color: #BB86FC;
}
.cabecalho-casa{
    background-color: #00C4B4;
}
.dados-tabela{
    background-color: #424250;
    color: #ffffff;
}
.tabela{
    padding: 15px;
    font-size: 32px;
    margin: auto;
}